<h2>Login</h2>  
  
<%= form_tag do_login_path, :class => 'login' do %>  
  <div class="field">  
    <%= label_tag :name, 'User Name' %>  
    <%= text_field_tag :name, params[:name] %>  
  </div>  
  <div class="field">  
    <%= label_tag :password %>  
    <%= password_field_tag :password %>  
  </div>  
  <div class="actions"><%= submit_tag "Login" %></div>  
<% end %>  

